body {
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

#main {
    background-color: rgb(21, 21, 21);
    border: 10px solid white;
    border-radius: 20px;
    width: 700px;
    height: 340px;
    margin: 150px auto;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 10px auto;
}

#score-period {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px 0;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid white;
    border-radius: 10px; */
    padding: 0 25px 0 25px;
}

#period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 0 25px 10px 25px;
}

.adjust-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 5px;
    background-color: rgb(65, 64, 64);
    width: 100px;
    height: 60px;
}

.increase {
    font-family: 'Orbitron', sans-serif;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
}

.decrease {
    font-family: 'Orbitron', sans-serif;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
}

.reset {
    font-family: 'Orbitron', sans-serif;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
}