body {
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

#main {
    background-color: #313533;
    border: 10px solid white;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    margin: 150px auto;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

/* #timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px auto 0 auto;
    border: 5px solid white;
    border-radius: 10px;
    width: 500px;
} */

#score-period {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 150px 0;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 0 25px 0 25px;
}

#period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 100px;
    padding: 0 25px 10px 25px;
}

.adjust-number {
    border: 5px solid white;
    border-radius: 5px;
    padding: 20px;
}

.increase {
    font-weight: bold;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
}

.decrease {
    font-weight: bold;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
}

.reset {
    font-weight: bold;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
}